/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.post-tag {
  font-family: "Fira Sans", avenir next, avenir, sans-serif;
  font-size: small;
  text-transform: uppercase;
}

a.post-tag {
  background-color: #dee5e9;
  border: 1px solid #7b9cb0;
  border-radius: 5px;
  color: #316586;
  padding: 0.15em 0.3em 0.1em 0.3em;
  text-decoration: none;
}

a.post-tag:hover {
  background-color: #7b9cb0;
  color: #fff;
}